@model ClothesShop.PortalWWW.Models.Shop.DataForCart
@{
    ViewData["Title"] = "Cart";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Your Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="~/Home/Index">Home</a>
                        <a href="~/Shop/Index">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model.CartItems)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            @*<img src="~/bootstrap/img/shopping-cart/cart-1.jpg" alt="">*@
                                            @if (!string.IsNullOrEmpty(@element.Product.ImageNameUrl))
                                            {
                                                string imageString = element.Product.ImageNameUrl;
                                                string replacedString = imageString.Replace("product", "cart");
                                             //   string numberSuffix = imageString.Substring(imageString.LastIndexOf('-'));
                                               // string finalimageString = replacedString + numberSuffix;

                                                <img src="~/bootstrap/img/shopping-cart/@replacedString" alt="">
                                               
                                            }
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6> @element.Product.Name</h6>
                                          @*  <h5>$98.49</h5>*@
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                @*<input type="text" value="@element.Quantity" disabled>*@
                                                @element.Quantity
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ @String.Format("{0:F}",element.Product.Price) </td>
                                    @*<td class="cart__close"><i class="fa fa-close"></i></td>*@
                                </tr>
                            }
                     @*       <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="~/bootstrap/img/shopping-cart/cart-1.jpg" alt="">
                                      
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>T-shirt Contrast Pocket</h6>
                                        <h5>$98.49</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 30.00</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="~/Shop/Index">Continue Shopping</a>
                        </div>
                    </div>
                   @* <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4">
                @*<div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>*@
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span>$ @String.Format("{0:F}",Model.TotalPrice)</span></li>
                    </ul>
                    <a href="~/Checkout/Index" class="primary-btn">Proceed to checkout</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->