@model IEnumerable<ClothesShop.Data.Data.Shop.Product>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageNameUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageNameUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
*@



@*

<div class="card shadow-lg mx-2 card-profile-bottom">
    <div class="card-body p-2">
        <div class="row gx-2">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h1 class="display">Categories</h1>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <a asp-action="Create" class="btn btn-icon btn-3 btn-primary active" type="button">
         <span class="btn-inner--text">Create New</span>
    </a>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Authors table</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">

                        <div class="card">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.Price)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.ImageNameUrl)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.Description)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.IsActive)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.Color)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                @Html.DisplayNameFor(model => model.Category)
                                            </th>


                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </p>

                                                </td>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    </p>
                                                </td>
                                                <td>
                                                    <div class="d-flex px-2">
                                                        <div>
                                                            <img src="~/images/@Html.DisplayFor(modelItem => item.ImageNameUrl)" class="avatar avatar-sm rounded-circle me-2">
                                                        </div>
                                                        <div class="my-auto">
                                                            <h6 class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.ImageNameUrl)</h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </p>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IsActive)
                                                </td>


                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Color)
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                                    </p>
                                                </td>

                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-success"><i class="bi bi-pencil"></i></a>
                                                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                                                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                        }





                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
*@











<div class="container-fluid py-4">

    <div class="row mt-2">
        
            <div class="card mb-8">
                <div class="card-header pb-0 pt-3 bg-transparent">
                    <h1 class="display">Product</h1>
                    <a asp-action="Create" class="btn btn-icon btn-3 btn-primary active" type="button">
                        @*    <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                        *@    <span class="btn-inner--text">Create New</span>
                    </a>

                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">

                        <div class="card">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.Price)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.ImageNameUrl)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.Description)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.IsActive)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                @Html.DisplayNameFor(model => model.Color)
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                @Html.DisplayNameFor(model => model.Category)
                                            </th>
                                       @* <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            @Html.DisplayNameFor(model => model.Size)
                                        </th>*@
                                          

                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </p>

                                                </td>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    </p>
                                                </td>
                                            <td>
                                           
                                                    <div class="d-flex px-2">
                                                        @{
                                                      

                                                            if (item.ImageNameUrl != null)
                                                            {
                                                                <div>
                                                                    <img src="~/images/@Html.DisplayFor(modelItem => item.ImageNameUrl)" class="avatar avatar-sm rounded-circle me-2">
                                                                </div>
                                                                <div class="my-auto">
                                                                    <h6 class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.ImageNameUrl)</h6>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div>
                                                                    <img src="~/images/empty.png" class="avatar avatar-sm rounded-circle me-2">
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @*@Html.DisplayFor(modelItem => item.Description)*@
                                                    @Html.Raw(item.Description)
                                                    </p>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IsActive)
                                                </td>


                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Color)
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                                    </p>
                                                </td>
                                                  <td>
                                                 @*   <p class="text-xs font-weight-bold mb-0">

                                                        @Html.DisplayFor(modelItem => item.Size)

                                                    </p>*@
                                                </td>
                                                

                                                <td>
                                                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                                                    @*<a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary"><i class="bi bi-eye"></i></a>*@
                                                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                        }





                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>





